body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    min-height: 100vh;
}
p {
    line-height: 6px;
}

h2{
    background-color: #f8f8f8;
    color: #595959;
    padding: 2%;
    margin-top: 0px;
    border: 5px;
    text-align: center;
    border-bottom: 2px solid #c8c8c8;
    border-left: 2px solid #c8c8c8;
    border-top: 2px solid #c8c8c8;
    border-right: 2px solid #c8c8c8;
}
.like{
    width: 30px;
}

.like-div p{
    position: relative;
    right: -37px;
    top: -39px;
}
footer{
    background-color: #eeeeee;
    margin-top: 20px;
    width: 100%;
    height: 20px;
    bottom: 50%;
}
.img{
    width: 200px;
    height: 200px;
    }
.playlist-cards{
    width: 200px;
    max-height: auto;
    background-color: grey;
    position: relative;
    margin-right: auto;
    height: 40vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid white;
    flex-basis: content;
    border-radius: 5.7px;
    text-shadow: 1px 0.5px;
    transition: 0.3s;
}
.playlist-cards:hover {
    background-color: silver;
}
.grid-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 9fr));
    grid-gap: 50px;    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
    .modal-content {
        grid-auto-flow: column;
        position: relative;
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        height: 69%;
        border-radius: 20.7px;
        width: 80%; /* Could be more or less, depending on screen size */
    }
    .modal-title{
        position: relative;
        font-size: 30px;
        top: -228px;
        right: -272px;
    }
    .creator-name{
        position: relative;
        font-size: 30px;
        top: -205px;
        right: -272px;
    }
    .container{
        margin: 30px;
        width: 800px;
        border-radius: 5.7px;
        border: 1px solid red;
        max-height: 100px;
        right: -36px;
        top: -57px;

        padding: 50px;

        
    }
    .container img {
        object-fit:cover;
        width: 120px;
        height: 120px;
    }
    .song-title{
        position: relative;
        top: -101px;
        right: -119px;
    }
    .artist-name{
        position: relative;
        top: -95px;
        right: -119px;
        bottom: 20px;
    }
    .album-name{
        position: relative;
        top: -89px;
        right: -119px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }