h3{
    width: 200px;
}   
header{
    margin-bottom: 21px;
    background-color: grey;
    color: white;
    padding: 2%;
    margin-top: 0px;
    border: 5px;
    text-align: center;
    height: 63px;
}

body {
    font-family:'verdana';
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #BBF4F6;
    min-height: 100vh;
    justify-content: center;
}

.likediv{
    position: absolute;
    top: 319px;
    width: 200px;
    height: 29px;
}
.like{
    width: 30px;
}

.likeNumber{
    position: relative;
    right: -35px;
    top: -39px;
}
footer{
    background-color: #eeeeee;
    margin-top: 20px;
    width: 100%;
    height: 20px;
    bottom: 50%;
}
.img{
    width: 200px;
    height: 200px;
    position: relative;
    right: -10px;
    }
.playlist-cards{
    transition: transform 250ms;
    padding: 30px;
    width: 50px;
    max-height: 312px;
    background-color: grey;
    position: relative;
    height: 40vh;
    border: 1px solid white;
    flex-basis: content;
    border-radius: 5.7px;
    text-shadow: 1px 0.5px;
    transition: 0.3s;
}
.creatorName{
    position: relative;
    right: 0px;
    top: -19px;
    width: 200px;
    height: 36px
}
.feature:hover {
    transform: translateY(-10px);
    background-color: #CEF3F5;
}
.musicPlaylist {
    transition: transform 250ms;
    top: -57px;
    right: -580px;
    padding:15px;
    background-color: #7ADADD;
    position: relative;
    border-radius: 5%;
    border-color: #7ADADD;
}
.musicPlaylist:hover {
    transform: translateY(-10px);
    background-color: #CEF3F5;
}   

.playlist-cards:hover {
    transform: translateY(-10px);
    background-color: silver;
}
.playlist-cover{
    max-height: 225px;
}
.grid-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    flex-direction:row;
    overflow-x:hidden
}

    #modal {
        display:  none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }
    .modal-content {
        
        top: -97px;
        grid-auto-flow: column;
        position: relative;
        background-color: #BBF4F6;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 2px;
        height: 69%;
        border-radius: 20.7px;
        width: 80%; /* Could be more or less, depending on screen size */
        overflow-y: auto;
        overflow-x: hidden;
    }
    .modal-title{
        text-shadow: 1px 0.5px;
        width: 20px;
        position: relative;
        font-size: 30px;
        top: -228px;
        right: -244px;
    }
    .feature{
        transition: transform 250ms;
        top: -57px;
        right: -507px;
        padding:15px;
        background-color: #7ADADD;
        position: relative;
        border-radius: 5%;
        border-color: #7ADADD;
    }
    .button {
        transition: transform 250ms;
        right: -900px;
        bottom: -125px;
        padding:15px;
        background-color: #7ADADD;
        position: relative;
        border-radius: 5%;
        border-color: #7ADADD;
    }
    .button:hover {
        transform: translateY(-10px);
        background-color: #CEF3F5;
    }
    .creator{position: relative;}
    .creator-name{
        width: 400px;
        text-shadow: 1px 0.5px;
        position: relative;
        font-size: 30px;
        top: -228px;
        right: -244px;
    }
    .container{
        display: grid;
        border-radius: 5.7px;
        grid-gap: 50px;    
        height: auto;        
    }
    .container p{
        position: relative;
        text-shadow: 1px 0.5px;
        top: -242px;
        right: -920px;
        width: 100%;
    }
    .song-container{
        padding: 0px;
        background-color: grey;
        width: 100%;
        height: 170px;
        display: inline-block;
        border: 1px solid black;
        white-space: nowrap;
    }
    .song-image {
        position: relative;
        width: 170px; 
    }

    .song-title{
        position: relative;
        top: -159px;
        right: -196px;
    }   
    .artist-name{
        position: relative;
        top: -159px;
        right: -196px;
    }
    .album-name{
        position: relative;
        top: -159px;
        right: -196px;

    }

    .close {
        top: -862px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .imagecover{
        width: 20px;
    }
    .music{
        width: 120px;
        position: absolute;
        left: 404px;
        top: -4px;
    }